# Data Collection
google-play-scraper
python-dotenv

# Data Manipulation
pandas
numpy

# Database
psycopg2-binary
sqlalchemy

# NLP & Machine Learning
transformers

# Use CPU-only PyTorch to avoid heavy CUDA downloads
torch==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

scikit-learn
tqdm

# spaCy without GPU / CUDA
spacy[cuda-none]

# Visualization
matplotlib
seaborn
wordcloud

# Testing & Linting
pytest
flake8
