# Add PyTorch CPU extra index at the top
--extra-index-url https://download.pytorch.org/whl/cpu

# Data Collection
google-play-scraper
python-dotenv

# Data Manipulation
pandas
numpy

# Database
psycopg2-binary
sqlalchemy

# NLP & Machine Learning
transformers
torch==2.9.1+cpu
scikit-learn
tqdm

# spaCy without GPU / CUDA
spacy[cuda-none]

# Visualization
matplotlib
seaborn
wordcloud

# Testing & Linting
pytest
flake8
